<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest Countries</title>
    <link rel="stylesheet" href="/src/css/styles.css">
</head>
<body>
<header>
    <h1>Countries, with Rest Countries</h1>
    <div class="search-bar">
        <label for="search"></label>
        <input id="search" type="search" placeholder="Search countries by its name..." />
    </div>
</header>
<main>
    <div id="countries-container"></div>
</main>
<script src="/src/js/index.js"></script>
</body>
</html>
